name: Backend CI - Build & Lint

on:
  push:
    branches: [ main ] 
  pull_request:
    branches: [ main ] 
    
jobs:
  build-and-lint:
   
    runs-on: ubuntu-latest
  
    steps:
    
      name: Checkout Code
      uses: actions/checkout@v4
        
      name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20' 
        cache: 'npm' 
         
       name: Install Dependencies
       run: npm install

       name: Run TypeScript Build
        run: npm run build
        
        name: Run ESLint Check
        run: npm run lint

        name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master 
        env:
         
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }} 
        with:
          
          args: >
            -Dsonar.projectKey=seu-usuario_api-backend
            -Dsonar.organization=seu-usuario
            -Dsonar.sources=src 
            -Dsonar.tests=src 
            -Dsonar.typescript.lcov.reportPaths=coverage/lcov.info

